Repository verlyn13/journal: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, validate-documentation-authoritative

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.14
    hooks:
      - id: uv-lock
      - id: uv-export
        args: ["--no-hashes", "--output-file=requirements.txt"]

  - repo: local
    hooks:
      - id: biome
        name: Biome check (apps/web)
        entry: bash -lc 'cd apps/web && bunx @biomejs/biome check'
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc|css|yaml|yml)$
        pass_filenames: false

      - id: validate-documentation-authoritative
        name: Validate documentation (authoritative)
        entry: python scripts/validate_documentation.py --strict
        language: system
        files: \.md$
        pass_filenames: false
        description: Authoritative documentation validator (links, tools, quality, outdated)

      - id: docs-validate
        name: Docs validate (status+taxonomy+relationships+graph)
        entry: bash -lc 'make docs-validate'
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
        files: ''

      - id: docs-fix-frontmatter-dry
        name: Docs frontmatter normalize (dry-run)
        entry: bash -lc 'python3 scripts/fix_frontmatter.py --enforce-tags'
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
        files: ''

feat(deployment): configure Supabase and prepare for Vercel deployment
  .env.production
  .env.production.minimal
  .env.schema
  DEPLOYMENT_DOCS.md
  DEPLOYMENT_READINESS.md
  apps/api/healthcheck_db.py
  docs/archive/root-level-docs/ENV_FILES_ORGANIZATION.md
  docs/archive/root-level-docs/SUPABASE_DEPLOYMENT_CHECKLIST.md
  docs/archive/root-level-docs/SUPABASE_SETUP.md
  docs/archive/root-level-docs/VERCEL_DEPLOYMENT.md
  docs/deployment/environment-variables.md
  docs/deployment/supabase-configuration.md
  docs/deployment/vercel-deployment.md
  enable_pgvector.sql
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
  test_supabase_connection.py
Due: validate-documentation-authoritative

fix(ci): update workflows from npm to Bun and fix CI failures
  .github/workflows/ci.yml
  .github/workflows/documentation-validate.yml
  .github/workflows/pr-smoke.yml
  .github/workflows/web-tests.yml
  apps/api/alembic/versions_legacy/0001_enable_pgvector.py
  apps/api/alembic/versions_legacy/0002_add_fts_and_indexes.py
  apps/api/alembic/versions_legacy/0003_add_markdown_dual_storage.py
  apps/api/alembic/versions_legacy/0004_add_version_lock.py
  apps/api/alembic/versions_legacy/0005_add_content_metrics.py
  apps/api/alembic/versions_legacy/0006_add_metrics_safe.py
  apps/api/alembic/versions_legacy/0007_add_processed_events.py
  apps/api/alembic/versions_legacy/0008_outbox_retry_fields.py
  apps/api/alembic/versions_legacy/0009_add_users_and_sessions.py
  apps/api/alembic/versions_legacy/0010_add_webauthn_tables.py
  apps/api/alembic/versions_legacy/195a997c2ee9_add_audit_log_and_deletion_request_.py
  apps/api/alembic/versions_legacy/d0d871f401f2_add_userdevice_table_and_device_id_to_.py
  apps/api/alembic/versions_legacy/efeffa3b8ef5_add_recoverycode_table_for_backup_codes.py
  apps/api/app/api/v1/admin.py
  apps/api/app/api/v1/auth.py
  apps/api/app/api/v1/entries.py
  apps/api/app/api/v1/stats.py
  apps/api/app/api/v1/webauthn.py
  apps/api/app/domain/auth/auth_service.py
  apps/api/app/domain/auth/simple_key_manager.py
  apps/api/healthcheck_db.py
  apps/api/scripts/add_frontmatter.py
  apps/api/scripts/extract_openapi.py
Due: biome

fix(ci): comprehensive CI/CD fixes for all failing checks
  apps/api/app/api/v1/auth.py
  apps/api/app/domain/auth/simple_key_manager.py
  apps/api/app/infra/enhanced_auth.py
  scripts/add_frontmatter.py
  scripts/anonymize.py
  scripts/anonymize_docs.py
  scripts/build_docs_graph.py
  scripts/check_doc_coverage.py
  scripts/documentation_fix_workflow.py
  scripts/evaluate_documentation.py
  scripts/extract_openapi.py
  scripts/fix_content_accuracy.py
  scripts/fix_critical_issues.py
  scripts/fix_documentation_alignment.py
  scripts/fix_frontmatter.py
  scripts/fix_remaining_issues.py
  scripts/generate_api_docs.py
  scripts/generate_doc_index.py
  scripts/generate_doc_report.py
  scripts/generate_status_report.py
  scripts/migration_system/manual_migration.py
  scripts/migration_system/run_migration.py
  scripts/migration_system/simple_test.py
  scripts/migration_system/task_orchestrator.py
  scripts/migration_system/test_parallel.py
  scripts/migration_system/worker_tasks.py
  scripts/normalize_docs_text.py
  scripts/orchestrate_migration.py
  scripts/reorganize_docs.py
  scripts/scan_tool_references.py
  scripts/validate_docs.py
  scripts/validate_documentation.py
  scripts/validate_relationships.py
  scripts/validate_taxonomy.py
  test_supabase_connection.py
Due: none

fix(docs): add missing frontmatter, fix broken links, update ports to 5000; add placeholders (architecture, database-migration, monitoring, runbook) and remove outdated local origins
  .github/workflows/pr-smoke.yml
  .github/workflows/verify-alignment.yml
  .github/workflows/web-tests.yml
  apps/api/pyproject.toml
  apps/api/scripts/add_frontmatter.py
  apps/api/scripts/extract_openapi.py
  ci-logs/pr-33-20250919-155657/failing_checks.tsv
  ci-logs/pr-33-20250919-155657/summary.txt
  docs/_generated/graph.json
  docs/_generated/graph.md
  docs/_generated/reports/docs_status.json
  docs/_generated/reports/taxonomy_validation.json
  docs/deployment/PRE_DEPLOYMENT_CHECKLIST.md
  docs/deployment/architecture.md
  docs/deployment/database-migration.md
  docs/deployment/environment-variables.md
  docs/deployment/monitoring.md
  docs/deployment/runbook.md
  docs/deployment/supabase-configuration.md
  docs/deployment/vercel-deployment.md
  docs/reports/docs-status.md
  docs/reports/relationships-status.md
  docs/reports/taxonomy-status.md
  scripts/validate_docs.py
Due: biome, validate-documentation-authoritative

feat(ci): enhance CI/CD with security and quality improvements
  .github/workflows/_reusable/api-tests.yml
  .github/workflows/_reusable/db-smoke.yml
  .github/workflows/_reusable/docs.yml
  .github/workflows/_reusable/lint.yml
  .github/workflows/_reusable/web-tests.yml
  .github/workflows/api-tests.yml
  .github/workflows/canary.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-fetch.yml
  .github/workflows/docs-status.yml
  .github/workflows/documentation-checks.yml
  .github/workflows/documentation-validate.yml
  .github/workflows/frontend-build.yml
  .github/workflows/infisical-ci.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/pr-smoke.yml
  .github/workflows/python-tests.yml
  .github/workflows/quality-gates.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/ruff-discovery.yml
  .github/workflows/security-scan.yml
  .github/workflows/verify-alignment.yml
  .github/workflows/web-tests.yml
  docs/.vale/config.ini
  docs/.vale/styles/JournalStyle/Acronyms.yml
  docs/.vale/styles/JournalStyle/Clarity.yml
  docs/.vale/styles/JournalStyle/HeadingCase.yml
  docs/.vale/styles/JournalStyle/TechnicalTerms.yml
  lychee.toml
Due: biome

fix(ci): update GitHub Action SHAs to fix CI failures
  .github/workflows/_reusable/lint.yml
  .github/workflows/api-tests.yml
  .github/workflows/ci.yml
  .github/workflows/documentation-validate.yml
  .github/workflows/frontend-build.yml
  .github/workflows/infisical-ci.yml
  .github/workflows/lint.yml
  .github/workflows/pr-smoke.yml
  .github/workflows/python-tests.yml
  .github/workflows/quality-gates.yml
  .github/workflows/ruff-discovery.yml
  .github/workflows/security-scan.yml
  .github/workflows/verify-alignment.yml
Due: biome

fix(docs): simplify documentation validation to be less strict
  .github/workflows/documentation-validate.yml
  scripts/validate_documentation_simple.py
Due: biome

fix(lint): exclude scripts directory from Python linting
  .github/workflows/lint.yml
Due: biome

fix(ci): stabilize docs duplicates whitelist; silence align check on backups; avoid PR status write in full-smoke
  .github/workflows/pr-smoke.yml
  .github/workflows/verify-alignment.yml
  docs/.validator_config.yaml
  scripts/validate_documentation_simple.py
Due: biome

chore(ci): pin actions to SHAs across workflows; adjust docs whitelist; update alignment grep exclusions; remove cache from reusable lint
  .github/workflows/_reusable/api-tests.yml
  .github/workflows/_reusable/db-smoke.yml
  .github/workflows/_reusable/lint.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  docs/.validator_config.yaml
Due: biome

fix(ci): exclude scripts directory from Python and alignment checks
  .github/workflows/verify-alignment.yml
  apps/api/pyproject.toml
Due: biome

fix(ruff): add root-level pyproject.toml to exclude scripts from linting
  pyproject.toml
Due: none

fix: remove invalid extend-exclude from ruff.lint config
  pyproject.toml
Due: none

fix: exclude docs.backup and scripts from legacy tool scan
  .github/workflows/verify-alignment.yml
Due: biome

fix: add path specifier to git grep command
  .github/workflows/verify-alignment.yml
Due: biome

fix: handle git grep exit codes properly in verify-alignment
  .github/workflows/verify-alignment.yml
Due: biome

fix: disable bash -e for git grep commands in verify-alignment
  .github/workflows/verify-alignment.yml
Due: biome

fix: simplify verify-alignment workflow and make it robust
  .github/workflows/verify-alignment.yml
Due: biome

feat: add README.md and restore docs drift check
  README.md
  ci-monitoring-commands.md
Due: validate-documentation-authoritative

fix: add Ruff 0.13.0 version to README
  README.md
Due: validate-documentation-authoritative

fix: resolve all Ruff linting issues
  apps/api/app/domain/auth/recovery_service.py
  apps/api/app/infra/outbox.py
  apps/api/app/infra/search_pgvector.py
  apps/api/app/middleware/enhanced_jwt_middleware.py
  apps/api/app/scripts/migrate_to_infisical.py
  apps/api/app/settings.py
  apps/api/app/workers/embedding_consumer.py
  apps/api/healthcheck_db.py
  apps/api/pyproject.toml
  apps/api/tests/conftest_auth_v2.py
  apps/api/tests/integration/test_alembic_migrations.py
  apps/api/tests/integration/test_key_rotation.py
  apps/api/tests/integration/test_workflows_quality.py
  apps/api/tests/unit/test_enhanced_key_manager.py
Due: none

fix: implement senior-dev linting strategy with Ruff 0.13
  apps/api/app/domain/auth/rate_limiter.py
  apps/api/app/graphql/schema.py
  apps/api/app/infra/outbox.py
  apps/api/app/workers/embedding_consumer.py
  apps/api/pyproject.toml
Due: none

fix: resolve mypy type checking errors
  apps/api/app/infra/search_pgvector.py
  apps/api/app/infra/webauthn_models.py
Due: none

fix(ci): ensure ruff uses apps/api config (wd + --config) for both lint.yml and verify-alignment
  .github/workflows/verify-alignment.yml
Due: biome

chore(ci): make codecov/patch informational on feature branches (codecov.yml)
  codecov.yml
Due: biome

test(api): add unit tests for docs frontmatter helpers to improve patch coverage
  apps/api/tests/unit/test_add_frontmatter_utils.py
Due: none

chore(ci): avoid duplicate legacy jobs on PRs; restrict legacy workflows to push on main and manual runs
  .github/workflows/ci.yml
  .github/workflows/docs-status.yml
  .github/workflows/documentation-validate.yml
  .github/workflows/lint.yml
  .github/workflows/pr-smoke.yml
  .github/workflows/web-tests.yml
Due: biome

chore(ci): remove legacy workflows; keep contract + reusable only
  .github/workflows/ci.yml
  .github/workflows/docs-status.yml
  .github/workflows/documentation-validate.yml
  .github/workflows/lint.yml
  .github/workflows/pr-smoke.yml
  .github/workflows/web-tests.yml
Due: biome

docs(ci): add CI Contract (required gates, local-first, policy)
  docs/engineering/ci-contract.md
Due: validate-documentation-authoritative

fix(ci): limit alignment redundant-tool scan to pyproject.toml only to avoid false positives
  .github/workflows/verify-alignment.yml
Due: biome

fix(alignment): resolve E501 in type_health and PT006 in parametrize tests
  apps/api/scripts/type_health.py
  apps/api/tests/unit/test_add_frontmatter_utils.py
Due: none

chore: System migration - saving all work in progress
  .github/workflows/_reusable/docs.yml
  ADMIN_PASSPHRASE.md
  apps/api/app/api/v1/auth.py
  apps/api/app/domain/auth/passphrase_auth.py
  apps/web/src/components/JournalApp.tsx
  apps/web/src/components/auth/PassphraseLogin.tsx
Due: biome, validate-documentation-authoritative
